@CHARSET "UTF-8";

#header {
	width: 100%;
	height: 80px;
	background-color: rgba(0,0,0,0.8);
	position: fixed;
    top: 0px;
    left: 0px;
    z-index:10;
}
#header_logo{
	font-size:30px;
	color:#FFFFFF;
	float:left;
	line-height:50px;
	padding-left:10px;
	text-decoration:none;
}
.header_position{
	font-size:13px;
	display: inline-block;
	float:right;
	padding-right:30px;
	line-height:50px;
}
.header_icon{
	color:#FFFFFF;
	text-decoration:none;
	transition: all 0.2s;
}
.header_icon:hover{
	color:#c0c0c0;
	transition: all 0.3s;
}