@CHARSET "UTF-8";
body {
	margin:0;
	padding:0;
	height:100%;
	line-height:1.6;
	letter-spacing:1px;
	font-family:Verdana, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	background:#fff;
}
#main {
	padding-top:150px;
	width: 100%;
	text-align: center;
	background-image:url("../images/backgroundTexture.jpg");
	background-size:cover;
}
#text-center{
	display: inline-block;
	text-align: center;
}
#border{
	outline:none;
}
#homeImg{
	outline:none;
}
#btn_enter{
	font-size:40px;
	text-decoration:none;
}
#btn_enter:active{
	color:#FFFFFF;
}
