@CHARSET "UTF-8";
body {
	margin:0;
	padding:0;
	line-height:1.6;
	letter-spacing:1px;
	font-family:Verdana, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	background:#fff;
	height: 100%;
}
table {
	text-align:center;
	margin:auto;
}
#all{
	background-image:url("../images/backgroundTexture.jpg");
	background-size:cover;
}
#top {
	font-weight:bold;
	font-size:25px;
	width:900px;
	margin:10px auto;
	border:1px solid #333;
}
#main {
	padding-top:100px;
	width:100%;
	text-align:center;
}
.btnClick:active{
	color:#2E2E2E;
}
#container{
	width:750px;
	margin-top:10px;
	margin: 30px auto;
	word-wrap: break-word;
}
#btnPosition{
  position: relative;
  left: -46%;
  margin-bottom:40px;
}
.caption{
	margin:30px auto;
	font-size:15px;
	width:800px;
	border:1px solid #333;
	text-align:center;
}
.textAlign{
	text-align:center;
}
#submitButton{
    padding: 6px 12px;
    border-style: none;
    background:none;
    border:1px solid;
    transition: all 0.4s;
}
#submitButton:hover{
	color:#fff;
	border-style: none;
	background-color:#000000;
	border:1px solid;
	transition: all 0.9s;
}