@CHARSET "UTF-8";
body {
	margin:0;
	padding:0;
	line-height:1.6;
	letter-spacing:1px;
	font-family:Verdana, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	background:#fff;
	height: 100%;
}
table {
	text-align:center;
	margin:auto;
}
#top {
	font-weight:bold;
	font-size:25px;
	width:900px;
	margin:10px auto;
	border:1px solid #333;
}
#main {
	padding-top:100px;
	width:100%;
	text-align:center;
	background-image:url("../images/backgroundTexture.jpg");
	background-size:cover;
}
#container{
	width:900px;
	margin-top:10px;
	margin: auto;
}